.about {
    margin-bottom: 2em;
}

.about p{
    text-align: justify;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1rem;
    margin: 0 auto;
}

.square {
    scale: 30%;
    float: left;
    grid-template-columns: 200px 1fr;
    }