.article {
    margin-bottom: 2em;
}

.article h2{
    margin-bottom: .5em;
    color: white;
}

time {
    font-style: italic;
}

p {
    text-align: justify;
}

ul {
    text-align: left;
}

.link {
    color: white;
    text-decoration: underline;
}

ol {
    text-align: justify;
    padding-top: 2em;
}
