.article {
    margin-bottom: 2em;
}

time {
    font-style: italic;
}

iframe {
    width: 887px;
    height: 499px;
}

p {
    text-align: justify;
}

ul {
    text-align: left;
}

.link {
    color: #415A8B;
    text-decoration: underline;
}

ol {
    text-align: justify;
    padding-top: 2em;
}
