.contact {
    margin-bottom: 2em;
}

.contact p{
    margin: 1em 0;
    text-align: left;
}

.rounded-image img{
    border-radius: 8px;
    display: block;
    width: 100%;
}

.square {
    width: 150px;
    height: 150px;
}

.summary li{
    margin-top: 1em;
}