p{
    text-align: left;
    margin-top: .2em;
}

form {
    text-align: left;
    clear: right;
}

img {
    width: 350px;
    height: 350px;
    float: left;
    margin-right: 30px;
}

label {
    margin-top: 20px;
}

input {
    width: 35em;
}

textarea {
    margin-top: 0.1em;
    width: 35em;
}

button {
    float: right;
    margin-right: 225px;
}