.index {
    margin-bottom: 2em;
}

.index h2{
    margin-bottom: .5em;
    color: white;
}

.index p{
    margin: 1em 0;
}

.rounded-image img{
    border-radius: 8px;
    display: block;
    width: 100%;
}

.square {
    width: 150px;
    height: 150px;
    margin: 2em 0;
}

.col-2 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-color: goldenrod;
    padding: 0 1em;
    border-style: solid;
}

.container {
    vertical-align: top;
}