.lorem-ipsum {
    margin-bottom: 2em;
}

.lorem-ipsum h2{
    margin-bottom: .5em;
    color: white;
}

.lorem-ipsum p{
    margin: 1em 0;
    text-align: justify;
}

img {
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 30px;
}
