.news {
    margin-bottom: 2em;
}

.news h4{
    margin-bottom: .1em;
    color: white;
}
.news p{
    margin: 1em 0;
}

.row-main {
    text-align: justify;
    margin-bottom: 3em;
}

.read-more{
    text-align: right;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 30px;
}
